.header {
    background-image: url("../imagens_atualizadas/captainmarvelheader.jpg");
}

.layout {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 3.125rem;
}

.produtos-linha1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.25rem;
}

.produtos-linha1 p {
    text-align: left;
    text-align: justify;
}

.produtos-linha1 p strong {
    font-size: 1.3rem;
    font-style: italic;
}

.produtos-linha1 img {
    height: 12.5rem;
    width: 12.5rem;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    background-image: linear-gradient(#fe7467, #fc3836);
    border: none;
    padding: 0.625rem;
    border-radius: 1.25rem;
    margin-top: 0.9375rem;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 768px) {

    .header {
        background-image: url("../imagens_atualizadas/captainmarvelheader_Mobile.jpg");
        height: 55vh;
    }

    .logo-home {
        width: 7rem;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .list {
        display: inline-flex;
        align-items: center;
        gap: 1.875rem;
        margin-top: -5%;
    }

    .title-header {
        display: none;
    }

    .produtos-linha1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .produtos-linha1 div p {
        font-size: 0.8rem;
        text-align: justify;
        width: 14rem;
    }
}