.header {
    background-image: url("../imagens_atualizadas/contatoheader.jpg");
}

.layout {
    text-align: center;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    height: 100vh;
}

.layout p {
    font-size: 1rem;
}

.container p {
    padding: 1.25rem;
}

.container p input {
    padding: 1.4375rem;
    border-radius: 0.625rem;
    border-color: rgba(128, 128, 128, 0.219);
}

.formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.25rem;
    gap: 0.625rem;
}

.formulario textarea {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    padding: 1.25rem;
    resize: none;
    border-radius: 0.625rem;
    border-color: rgba(128, 128, 128, 0.219);
}

.button {
    box-sizing: content-box;
    width: 46.875rem;
}

@media screen and (max-width: 768px) {
    
    .header {
        background-image: url("../imagens_atualizadas/contatoheader_mobile.jpg");
        height: 55vh;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .logo-home {
        width: 7rem;
    }

    .list {
        display: inline-flex;
        align-items: center;
        gap: 1.875rem;
        margin-top: -5%;
    }

    .title-header {
        display: none;
    }

    .quem-somos {
        background-size: cover;
        width: 100%;
    }

    .quem-somos p {
        text-align: center;
        font-size: 1rem;
        color: white;
        margin: 0;
        padding: 2rem;
    }

    .container p input {
        max-width: 20.3125rem;
        border-radius: 0.625rem;
        padding: 1.25rem;
        border-color: rgba(128, 128, 128, 0.219);
    }

    .formulario textarea {
        border-radius: 0.625rem;
        box-sizing: border-box;
        border-color: rgba(128, 128, 128, 0.219);
    }

    .button {
        background-color: #fe7467;
        border: none;
        padding: 0.625rem;
        border-radius: 1.25rem;
        box-sizing: border-box;
        max-width: 41vh;
        margin-left: 0.125rem;
    }

}