.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}

.logo-home {
    width: 10rem;
}

.navbar {
    display: flex;
    padding: 1.25rem;
    gap: 3rem;
}

.title-header {
    width: auto;
    height: 18rem;
    position: absolute;
    left: 3rem;
    bottom: 5rem;
}

.list {
    display: inline-flex;
    padding: 1rem;
    align-items: center;
    gap: 4.375rem;
    padding-bottom: 1.25rem;
}

.list a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.list a:hover {
    text-decoration: none;
    border-bottom: 3px solid #fe7467;
}
