.header {
    background-image: url("../imagens_atualizadas/spidermanheader.jpg");
}

.quem-somos {
    background-image: url("../imagens_atualizadas/thor_header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.quem-somos span {
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: underline 4px solid white;
    text-underline-position: under;
    text-decoration-skip: 1.25rem;
}

.quem-somos h2 {
    right: 1.25rem;
    color: white;
    text-align: center;
    align-items: center;
    margin: 1.25rem 0 1.25rem 0vw;
}

.quem-somos p {
    font-size: 1.5rem;
    color: white;
    margin-left: 55%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-right: 5%;
}

.layout {
    background-image: url("../imagens_atualizadas/bonecos.png");
    background-repeat: no-repeat;
    background-size: 60%;
    height: 80vh;
}

.layout img {
    display: none;
}

.lorem {
    text-align: left;
    font-size: 1.5rem;
    color: black;
    padding-left: 57%;
    margin-top: 2.5rem;
    text-justify: auto;
}

.button {
    background-image: linear-gradient(#fe7467, #fc3836);
    border: none;
    padding: 0.625rem;
    border-radius: 1.25rem;
    margin-top: 1.875rem;
    width: auto;
    margin-left: 57%;
}

.button a {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .header {
        background-image: url("../imagens_atualizadas/spidermanheader_mobile.jpg");
        height: 55vh;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .logo-home {
        width: 7rem;
    }

    .list {
        display: inline-flex;
        align-items: center;
        gap: 1.875rem;
        margin-top: -5%;
    }

    .title-header {
        width: 10rem;
        height: 10rem;
        position: absolute;
        margin-left: -2.5rem;
        margin-bottom: -3rem;
    }

    .quem-somos {
        background-image: none;
        background-color: #fe7467;
        height: 70%;
        padding-bottom: 3%;
    }

    .quem-somos p {
        text-align: center;
        font-size: 1rem;
        color: white;
        margin: 0;
        padding: 1rem;
    }

    .bonecos span {
        text-align: center;
        font-weight: bold;
        color: black;
        text-decoration: underline 4px solid #fe7467;
    }

    .bonecos h2 {
        color: black;
        text-align: center;
        align-items: center;
        margin: 1.25rem 0 1.25rem 0vw;
    }

    .lorem {
        font-size: 1.5rem;
        color: black;
        padding-left: 0%;
        text-align: center;
    }

    .bonecos {
        background-image: none;
        background-repeat: no-repeat;
        background-size: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2.5rem;
    }

    .bonecos img {
        display: flex;
        align-items: center;
        padding: 10%;
    }

    .button {
        width: 40%;
        margin-left: 0%;
        margin-left: 30%;
    }

    .button a {
        font-size: 1rem;
        color: white;
        font-weight: bold;
    }

}